body{background:#2e9ce6;padding:3em;font-family:Raleway,Arial;color:#fff}ul{list-style-type:none;margin:0 0 2em;padding:0}ul li{display:inline;margin-right:30px}ul li a{font-size:1.5em}a{color:#fff;text-decoration:none}